#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid #e0e0e0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(243, 243, 243);
    border-top: 1px solid #e0e0e0;
}

#bar {
    background-color: rgb(26, 25, 25);
    color: white;
}
#bar rect {
    fill:white;
}

#bar text {
    font-size: 15px;
    font-family: sans-serif;
}


#plot {
    background-color: rgb(26, 25, 25);
    color: white;
}
#plot circle {
    fill: white;
    opacity: 0.8;
}

#plot text {
    font-size: 15px;
    font-family: sans-serif;
}

#line {
    background-color: rgb(26, 25, 25);
    color: white;
}

#line text {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}

.line-path {
    fill: none;
    stroke: maroon;
    stroke-width: 5;
    stroke-linejoin: round;
}

#area {
    background-color: rgb(26, 25, 25);
    color: white;
}

#area text {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}

.area-path {
    fill: maroon;
    opacity: 5;
    stroke-linejoin: round;
}